<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>

  <meta name="author" content="{{ site.author.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

<div id="main-column">

  <header class="site">
    <h1>Jon Canady</h1>
    <ul>
      <li><a href="/">Posts</a></li>
      <li><a href="http://speakerdeck.com/joncanady/">Talks</a></li>
      <li><a href="http://github.com/joncanady/">Code</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
  </header>

  {{ content }}

  <footer class="meta">
    <p>Follow me on <a href="https://twitter.com/{{ site.author.twitter }}">
      Twitter
    </a>
    or check out some code on 
    <a href="https://github.com/{{ site.author.github }}">
      Github
    </a></p>
  </footer>
</div>

</body>
</html>
